@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1250px) 
and (-webkit-min-device-pixel-ratio: 1) { 
	.elements2{
		width: 100px;
		height: 50vh;
		left: -100px;
	}

	.closeX{
		transform: translateX(60px);
	}

	.contactInfo{
	height: 400px;
	width: 350px;
}

}